openapi: 3.1.0
info:
  title: OsteoJP API
  version: "1.0.0"
  summary: Patient portal API + AI-partner ingestion contract for the OsteoJP platform.
  description: >
    Canonical contract for the OsteoJP V1 API. Two audiences share this document:

      * **Patient portal / external integrators** — the `api.osteojp.pt` patient
        API. Every patient route is self-scoped: the caller's `patient_id` and
        `tenant_id` are derived server-side from the verified token, never from
        request payload, and RLS re-enforces self-scope as defense in depth.
      * **AI ingestion partner** — the server-to-server
        `POST /api/v1/ingestion/clinical-records` endpoint, authenticated by an
        HMAC signature over the raw body (timestamp + signature header pair).

    This spec DOCUMENTS existing behavior; it does not define new endpoints.
    It is hand-authored (the handlers validate with hand-rolled guards, not
    importable zod schemas) and kept honest by a CI drift check that fails if any
    `/api/v1` route lacks a path here.

    Notes that hold across the patient API:
      * All timestamps are ISO 8601 UTC strings.
      * Money is integer cents with an explicit currency; never a float.
      * `force-dynamic`: responses are per-session and never cached.
  license:
    name: Proprietary
    url: https://osteojp.pt
  contact:
    name: OsteoJP Platform
    url: https://osteojp.pt

servers:
  - url: https://api.osteojp.pt
    description: Patient API (apps/api). Default origin for every patient route + health.
  - url: https://osteojp.pt
    description: Staff platform (apps/web) — hosts AI ingestion + provider webhooks.

tags:
  - name: health
    description: Unauthenticated liveness probe.
  - name: auth
    description: Patient session identity.
  - name: booking
    description: Bookable service + location catalog.
  - name: appointments
    description: The patient's own appointments (view / book / cancel / reschedule).
  - name: profile
    description: The patient's own profile.
  - name: documents
    description: The patient's own documents and declarations.
  - name: fichas
    description: The patient's own finalized clinical records (redacted, read-only).
  - name: forms
    description: Patient intake form catalog + submissions.
  - name: ingestion
    description: AI partner clinical-record ingestion (HMAC, server-to-server).
  - name: webhooks
    description: Inbound provider callbacks (provider-driven; not for integrators).

# Default security: a patient bearer JWT. Routes that use a different gate
# (health = none, ingestion = HMAC, webhook = provider signature) override this
# at the operation level.
security:
  - patientBearer: []

paths:
  /api/health:
    get:
      operationId: getHealth
      tags: [health]
      summary: Liveness probe
      description: Public, unauthenticated heartbeat. Carries no data.
      security: []
      responses:
        "200":
          description: Service is up.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"

  /api/v1/auth/session:
    get:
      operationId: getSession
      tags: [auth]
      summary: Current patient identity
      description: >
        Returns only WHO the caller is (their own `patientId` + `tenantId`),
        resolved server-side from the verified token. No patient data is read.
        Fail-closed: any non-patient (no session, staff token, malformed) → 401.
      responses:
        "200":
          description: The authenticated patient's own identity.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionIdentity"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/booking/guest/catalog:
    get:
      operationId: getPublicBookingCatalog
      tags: [booking]
      summary: What can be booked and where, for the public guest form
      security: []
      description: >
        GUEST-04, Option A. The ONE unauthenticated READ the guest booking form
        is allowed.


        WHAT IT DISCLOSES IS ALREADY PUBLISHED. Service names are on osteojp.pt
        and both clinics are on the portal's own public Clínicas page with their
        addresses and telephone numbers. The projection is `id` and `name` and
        nothing else — no price, no duration, no internal flag — and nothing
        about any PERSON is reachable through it: no patient, no therapist, no
        appointment, no schedule.


        THE TWO READS THIS IS NOT. `booking/therapists` and `booking/slots` stay
        authenticated, permanently and by ruling (exposure matrix MN-27, MN-28).
        A public roster tells a stranger who works at a clinic; a public slot
        list tells them when the building is empty and when a named therapist is
        not with a patient.


        It applies the SAME four predicates as the authenticated catalog —
        tenant, active, not `internal_only`, `patient_bookable` — so it can never
        offer a stranger something a logged-in patient is not allowed to book.


        `tenantId` is an UNVERIFIED query parameter, unavoidably: the route runs
        before authentication, exactly as `auth/otp/request` does, so there is no
        token to derive a tenant from. It is not a rate-limit key, and an unknown
        tenant answers with empty lists rather than an error, so it is not a
        tenant-existence oracle.


        Rate limited per source on the durable store, two windows (30/minute,
        200/hour). There is deliberately NO tenant-wide ceiling: a global limit
        on a read of published data protects nothing a per-source limit does not,
        and would hand a single attacker a switch that takes the public booking
        form off the air for everybody.
      parameters:
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The bookable services and the clinics that offer them.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [locations, services]
                properties:
                  locations:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required: [id, name]
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                  services:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required: [id, name, locationIds]
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        locationIds:
                          type: array
                          description: >
                            Which clinics offer it. A service bound to no
                            location lists every active clinic, so the form
                            cannot produce a service/clinic pair the clinic does
                            not offer.
                          items:
                            type: string
                            format: uuid
        "400":
          $ref: "#/components/responses/InvalidInput"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/booking/guest:
    post:
      operationId: createGuestBookingRequest
      tags: [booking]
      summary: Request an appointment as a NEW client, with no account
      # CORRECTED 2026-08-14. This override was MISSING, so the document's
      # default (`patientBearer`) applied and the spec claimed the project's one
      # unauthenticated write surface required a patient JWT - the exact
      # opposite of what it is, in the document a reviewer reads to find out.
      # The route was always correct; the description of it was not.
      security: []
      description: >
        ITEM 6. A booking REQUEST from somebody who is not a patient: no
        account, no OTP login. The project's FIRST unauthenticated write
        surface.


        EVERY SUBMISSION IS A REQUEST (R-GUEST-1). Nothing is booked and no slot
        is held, whatever the availability. `status` is defaulted by the
        database and is never set by this route, so the path cannot be made to
        auto-confirm by passing a field. Reception confirms each one by hand and
        creates the patient and the appointment at that moment.


        NOTHING CLINICAL IS TOUCHED. The write goes to `guest_booking_requests`
        and nowhere else — no patient row, no appointment, no notification.
        That table has no anon policy in either direction; the insert runs
        service-role with an explicit `tenant_id`.


        IT ANSWERS 202 WHETHER OR NOT THE PHONE MATCHES AN EXISTING PATIENT, and
        never queries the patient table on this path at all, so membership
        cannot leak even through the timing of a lookup. The
        possible-existing-patient flag is computed for RECEPTION when the queue
        is read, and is never returned here. A response that differed would make
        a public form a patient-list oracle.


        NO SMS IS SENT (R9). The caller shows an on-screen confirmation and
        tells the person the clinic will make contact.


        IT TAKES A PREFERENCE, NOT A SLOT (Option A, 2026-08-14). `startsAt`,
        `endsAt` and `practitionerId` are REFUSED; `preferredDate` and
        `preferredPeriod` are required. See `GuestBookingInput` for why: with the
        roster and the slot list unexposed, an exact time arriving here could not
        have come from anything public.


        Rate limited on THREE independent axes — per source, per phone hash, and
        two tenant-wide ceilings — because each alone is bypassable. The
        tenant-wide ceiling is checked LAST, after parsing and validation, so
        malformed input cannot exhaust the day's allowance and deny the form to
        real people.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuestBookingInput"
      responses:
        "202":
          description: >
            Accepted as a REQUEST. Returned identically whether or not the phone
            matches an existing patient — see the description. The body carries
            exactly one key and no match information of any kind.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [status]
                properties:
                  status:
                    type: string
                    enum: [received]
        "400":
          $ref: "#/components/responses/InvalidInput"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/auth/otp/request:
    post:
      operationId: requestOtp
      tags: [auth]
      summary: Send a 6-digit login code by SMS
      description: >
        Decision D: patient login is a 6-digit SMS OTP, phone only.


        ALWAYS ANSWERS 204 for a well-formed number, known or not. This endpoint
        is the enumeration surface: a response that differed for a known and an
        unknown number would be a patient-list oracle for anyone with a phone
        book. It also never queries the patient table at all, so membership
        cannot leak through the timing of a lookup that is never performed — the
        patient is resolved at CLAIM time, on verify (WF-07).


        The only distinguishable outcomes are `400` (malformed input, which
        reveals the caller's own typing and nothing about our records) and `429`,
        which an unknown number hits identically.


        Rate limited BEFORE any parsing, on TWO independent keys — per client and
        per phone hash — because either alone is bypassable: one by rotating the
        number, the other by rotating the source. The phone key is a hash, so no
        number is used as a rate-limit key in the clear.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OtpRequestInput"
      responses:
        "204":
          description: >
            Accepted. Returned whether or not the number is known — see the
            description. No body.
        "400":
          $ref: "#/components/responses/InvalidInput"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/auth/otp/verify:
    post:
      operationId: verifyOtp
      tags: [auth]
      summary: Verify a login code and resolve the patient
      description: >
        Returns ONE `401` with ONE body for every failure mode: no code was
        requested, the code is wrong, it expired, its attempt cap is spent, or
        the proven phone resolves to zero / several / an already-claimed patient
        row. A caller can distinguish none of them, which is deliberate —
        "several records match your number" confirms to anyone that a given
        number is in this clinic's files, and how many times.


        Linkage (WF-07) runs only AFTER the code verifies, and links only when
        EXACTLY ONE live row (deleted_at, merged_into_id and auth_user_id all
        null) carries the proven phone. Anything else refuses. Mis-linking a
        medical record is the failure class that refusal exists to prevent.


        THE CLAIM IS ONE TRANSACTION. Proving the code, resolving the patient,
        spending the code and remembering the device commit together or not at
        all. The spend carries a `consumed_at IS NULL` guard AND reports whether
        it won, so two simultaneous redemptions of one code produce exactly one
        `200` — the loser gets the same `401` as a wrong code. A sixth failure
        mode, indistinguishable from the other five.


        The spend happens AFTER linkage, deliberately: a linkage refusal leaves
        the code live for the rest of its five minutes, because burning it would
        cost the patient a second SMS to reach the identical refusal.


        ON SUCCESS IT PLANTS A TRUSTED-DEVICE COOKIE — `__Host-ojp_device`,
        httpOnly, Secure, SameSite=Lax, 30 days per Decision D. The value is
        returned in that `Set-Cookie` header and NOWHERE else; only its SHA-256
        is stored, so this response is the one moment it exists outside the
        browser that receives it. The response body still carries no session
        material.


        IT DOES NOT MINT A PORTAL SESSION. Which artefact carries the session
        after a verified OTP is an open owner decision (board card
        `W13-03a-session-artefact`), not something this endpoint decides.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OtpVerifyInput"
      responses:
        "200":
          description: >
            The code verified, the phone resolved to exactly one patient, and
            this request won the spend. Sets the trusted-device cookie.
          headers:
            Set-Cookie:
              description: >
                `__Host-ojp_device` — the 30-day trusted-device token. httpOnly,
                Secure, SameSite=Lax, Path=/. The `__Host-` prefix is enforced by
                the browser, so a later edit that relaxes any of those attributes
                stops the cookie working rather than silently weakening it.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OtpVerifyResult"
        "400":
          $ref: "#/components/responses/InvalidInput"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/auth/otp/trusted:
    post:
      operationId: checkTrustedDevice
      tags: [auth]
      summary: Is this device already trusted?
      description: >
        The "before demanding a code" half of Decision D's 30-day trusted device.
        The portal asks here first and falls through to the phone-and-code
        screens only when the answer is `401`.


        IT TAKES NO REQUEST BODY AND NO PHONE NUMBER. The answer is derived from
        the `__Host-ojp_device` cookie and nothing else. Folding this into
        `/otp/request` would have meant either querying the patient table on the
        enumeration surface — exactly what that endpoint is built never to do —
        or accepting a `phone` parameter and ignoring it.


        It leaks nothing to a caller without the cookie: the branch is keyed on a
        256-bit secret, not on whether a phone is known, so a missing, malformed,
        expired, revoked or invented token all return the same `401`.


        A CHECK IS A READ. `expires_at` is never recomputed and `last_seen_at` is
        never written — LOOP 3 step 6 requires that the device "does not extend
        itself silently on use", and a sliding window would mean an active device
        never expires at all.
      responses:
        "200":
          description: The device is live, unrevoked and unexpired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OtpVerifyResult"
        "401":
          description: >
            No usable device credential. The cookie is CLEARED on this response
            (`Max-Age=0`) so a dead token stops being presented on every visit.
          headers:
            Set-Cookie:
              description: "`__Host-ojp_device` cleared with `Max-Age=0`."
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/auth/otp/revoke:
    post:
      operationId: revokeTrustedDevice
      tags: [auth]
      summary: Revoke THIS device, server-side
      description: >
        The server half of sign-out. Clearing the `__Host-ojp_device` cookie
        already made the token unpresentable from that browser, which is
        sufficient for every practical case since the token exists in exactly
        one. What it could not do was write `revoked_at`, so a token captured
        before sign-out stayed live for the remainder of its 30 days and "we
        cannot revoke" was the answer available when a patient reports a lost
        phone.


        IT TAKES NO REQUEST BODY AND NO PATIENT ID. The `__Host-ojp_device`
        cookie IS the authentication: holding it is the only thing that could
        authorise revoking it. A patient id would be a caller-supplied value
        needing reconciliation against the device row, and the two can disagree
        — the same argument that keeps the phone number out of `/otp/trusted`.


        IT ALWAYS ANSWERS `204`, for a live, expired, already-revoked, unknown,
        invented or entirely absent token. The honest outcome is identical in
        every case — after this call that token is not usable — and
        distinguishing them would turn the endpoint into an ORACLE for whether a
        given device token is live, which is precisely the enumeration surface
        `/otp/trusted` is built not to be. A `401` for a missing cookie would
        also make sign-out noisy for a patient who never trusted the browser.


        REVOKING IS IDEMPOTENT AND THE FIRST INSTANT SURVIVES. The underlying
        UPDATE is conditional, so an unknown hash touches zero rows and a
        re-revoke leaves the original `revoked_at` in place — otherwise "when was
        it revoked" would stop being an answerable question.


        IT DOES NOT TOUCH THE SESSION. A session is 12 hours and its own
        artefact; revoking the DEVICE stops the silent 30-day refresh, which is
        the thing being revoked. It also revokes ONLY the presented device, never
        the patient's others.
      responses:
        "204":
          description: >
            The device is revoked, or there was nothing to revoke. The cookie is
            CLEARED on every path (`Max-Age=0`), unconditionally, so a revoked
            row plus a browser still presenting the token cannot make every
            visit pay a lookup for a credential that can never succeed again.
          headers:
            Set-Cookie:
              description: "`__Host-ojp_device` cleared with `Max-Age=0`."
              schema:
                type: string
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/booking/catalog:
    get:
      operationId: getBookingCatalog
      tags: [booking]
      summary: Bookable services + locations
      description: >
        The self-bookable service list and active locations for the patient's
        tenant. Prices are display-only (integer cents); there is no
        price/discount field in any booking input.
      responses:
        "200":
          description: The tenant's bookable catalog.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookableCatalog"
        "401":
          $ref: "#/components/responses/UnauthorizedLocalized"
        "500":
          $ref: "#/components/responses/ServerErrorLocalized"

  /api/v1/booking/slots:
    get:
      operationId: listOpenBookingSlots
      tags: [booking]
      summary: Bookable slot starts for a service at a location
      description: >
        Concrete bookable slot starts (UTC ISO 8601, ascending, 14-day horizon,
        30-minute grid) for a service at a location. Slots are expanded from
        ACTIVE therapists' availability templates in Europe/Lisbon wall-clock
        time and filtered by the SAME conflict predicates the booking confirm
        re-runs (availability coverage, appointment overlap, time off) — the
        portal step-3 source of truth. A listed slot can only be rejected at
        confirm by a genuine booking race.
      parameters:
        - name: serviceId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: locationId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: practitionerId
          in: query
          required: false
          description: >
            A2. Narrow the sweep to ONE therapist, the one the patient chose in
            the therapist step. Omitted means every bookable therapist, which is
            the pre-A2 behaviour. A well-formed id for a therapist who is not
            bookable simply yields no slots: the query's own is_bookable
            predicates decide, so this parameter can never WIDEN the result.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Bookable slot starts, ascending.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [slots]
                properties:
                  slots:
                    type: array
                    items:
                      type: string
                      format: date-time
        "400":
          $ref: "#/components/responses/InvalidInput"
        "401":
          $ref: "#/components/responses/UnauthorizedLocalized"
        "422":
          description: "`service_unavailable` or `location_unavailable`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "500":
          $ref: "#/components/responses/ServerErrorLocalized"

  /api/v1/booking/therapists:
    get:
      operationId: listBookableTherapists
      tags: [booking]
      summary: The therapist roster for a service at a location
      description: >
        A2. The ROSTER for the portal's therapist step: who could see this
        patient at this clinic at all. It is NOT an availability query - the step
        runs BEFORE the patient picks a date, so there is no window to check
        against, and free/busy is decided afterwards by /booking/slots.


        Filtered on `is_bookable` ONLY (PL-06b): never on a title and never on a
        role slug, because a role predicate once dropped a practitioner from the
        staff dropdown as a live defect. NOT filtered by the service mapping
        (PL-06a): the mapping is a preselection, never a restriction, so
        `serviceId` validates the request rather than narrowing the answer.


        The payload is id and name only. No title, no role, no schedule.
      parameters:
        - name: serviceId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: locationId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Bookable therapists at the location, ordered by name.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [therapists]
                properties:
                  therapists:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required: [id, name]
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
        "400":
          $ref: "#/components/responses/InvalidInput"
        "401":
          $ref: "#/components/responses/UnauthorizedLocalized"
        "422":
          description: "`service_unavailable` or `location_unavailable`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "500":
          $ref: "#/components/responses/ServerErrorLocalized"

  /api/v1/me/fichas:
    get:
      operationId: listOwnFichas
      tags: [fichas]
      summary: Own finalized clinical records (redacted)
      description: >
        The patient's own finalized (`locked`/`signed`) clinical records,
        read-only and field-redacted (default-deny allow-list). The free-text
        `data` allow-list is empty pending clinical sign-off, so the endpoint
        returns record METADATA only — therapist-private content is never
        serialized.
      responses:
        "200":
          description: The patient's own fichas, newest first.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [fichas]
                properties:
                  fichas:
                    type: array
                    items:
                      $ref: "#/components/schemas/PatientFicha"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/me/forms:
    get:
      operationId: listOwnFormSubmissions
      tags: [forms]
      summary: Own form submissions
      description: The patient's own intake submissions (self-scoped), newest first.
      responses:
        "200":
          description: The patient's own submissions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [submissions]
                properties:
                  submissions:
                    type: array
                    items:
                      $ref: "#/components/schemas/PatientSubmission"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: submitForm
      tags: [forms]
      summary: Submit an intake form
      description: >
        Submit the Ficha Geral or a per-therapy supplement. Source-tagged
        `patient`, lands in `pending_review`, and NEVER finalizes a clinical
        record. `patient_id`/`tenant_id` come from the verified principal, never
        the body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormSubmissionInput"
      responses:
        "201":
          description: Submission created (in `pending_review`).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [submission]
                properties:
                  submission:
                    $ref: "#/components/schemas/PatientSubmission"
        "400":
          description: >
            Malformed JSON (`invalid_json`) or a validation failure
            (`unknown_form`, `therapy_required`, `unknown_therapy`,
            `therapy_not_allowed`, `invalid_payload`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/me/forms/catalog:
    get:
      operationId: getFormCatalog
      tags: [forms]
      summary: Intake form catalog
      description: >
        The intake forms the patient may submit (Ficha Geral + one supplement per
        therapy), localized PT-first. Read-only; still gated on a valid patient
        session.
      responses:
        "200":
          description: The localized intake catalog.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [forms]
                properties:
                  forms:
                    type: array
                    items:
                      $ref: "#/components/schemas/CatalogEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/patient/profile:
    get:
      operationId: getOwnProfile
      tags: [profile]
      summary: Own profile
      responses:
        "200":
          description: The patient's own profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileEnvelope"
        "401":
          $ref: "#/components/responses/UnauthorizedLocalized"
        "404":
          description: Profile row not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerErrorLocalized"
    patch:
      operationId: updateOwnProfile
      tags: [profile]
      summary: Update own profile
      description: >
        Updates only the editable whitelist — `phone`, `address`, `postalCode`,
        `city`. Any other key (including `fullName`, `email`, `nif`) is silently
        ignored. Sending no editable field → 400 `no_editable_fields`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfilePatch"
      responses:
        "200":
          description: The updated profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileEnvelope"
        "400":
          description: "`invalid_json`, `invalid_body`, or `no_editable_fields`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/UnauthorizedLocalized"
        "404":
          description: Profile row not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: "`invalid_phone` — phone failed format validation."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerErrorLocalized"

  /api/v1/patient/documents:
    get:
      operationId: listOwnDocuments
      tags: [documents]
      summary: Own documents and declarations
      description: >
        Display metadata only — the storage path is never exposed; downloads go
        through the download endpoint.
      responses:
        "200":
          description: The patient's own documents, newest first.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [documents]
                properties:
                  documents:
                    type: array
                    items:
                      $ref: "#/components/schemas/PatientDocument"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/patient/documents/{id}/download:
    get:
      operationId: downloadOwnDocument
      tags: [documents]
      summary: Signed download URL for an own document
      description: >
        Returns a short-lived Supabase SIGNED URL (opaque token + 60s expiry) for
        one of the patient's own documents. Bytes are not proxied. A document
        that is not the caller's own, cross-tenant, non-existent, or a malformed
        id all return 404 (indistinguishable).
      parameters:
        - $ref: "#/components/parameters/DocumentId"
      responses:
        "200":
          description: A signed, short-lived download URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadUrl"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not the caller's own / not found / malformed id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/appointments:
    get:
      operationId: listOwnAppointments
      tags: [appointments]
      summary: Own appointments
      responses:
        "200":
          description: The patient's own appointments.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [appointments]
                properties:
                  appointments:
                    type: array
                    items:
                      $ref: "#/components/schemas/Appointment"
        "401":
          $ref: "#/components/responses/UnauthorizedLocalized"
        "500":
          $ref: "#/components/responses/ServerErrorLocalized"
    post:
      operationId: bookAppointment
      tags: [appointments]
      summary: Book a slot
      description: >
        Books a slot for a server-assigned, conflict-checked therapist. No
        payment, no fiscal document. `patient_id` is always the verified
        principal's; `practitioner_id`/price/status in the body are ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingInput"
      responses:
        "201":
          description: The newly booked appointment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppointmentEnvelope"
        "400":
          $ref: "#/components/responses/InvalidInput"
        "401":
          $ref: "#/components/responses/UnauthorizedLocalized"
        "409":
          description: >
            `no_therapist` — nobody works the requested window (schedule gap) —
            or `no_slot` — the slot was taken by a concurrent booking.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "422":
          description: >
            `service_unavailable`, `location_unavailable`, or `slot_in_past`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "500":
          $ref: "#/components/responses/ServerErrorLocalized"

  /api/v1/appointments/{id}:
    get:
      operationId: getOwnAppointment
      tags: [appointments]
      summary: One own appointment
      description: An id that is not the patient's own resolves to 404 (never another patient's row).
      parameters:
        - $ref: "#/components/parameters/AppointmentId"
      responses:
        "200":
          description: The requested own appointment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppointmentEnvelope"
        "401":
          $ref: "#/components/responses/UnauthorizedLocalized"
        "404":
          description: "`not_found` — not visible to this patient."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "500":
          $ref: "#/components/responses/ServerErrorLocalized"

  /api/v1/appointments/{id}/cancel:
    post:
      operationId: cancelOwnAppointment
      tags: [appointments]
      summary: Cancel an own appointment
      description: >
        Server-enforced 24h cutoff (from stored `startsAt` + server clock); inside
        the window the request is rejected regardless of client state. Never
        touches invoicing. No request body.
      parameters:
        - $ref: "#/components/parameters/AppointmentId"
      responses:
        "200":
          description: Cancelled.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    const: true
        "401":
          $ref: "#/components/responses/UnauthorizedLocalized"
        "404":
          description: "`not_found`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "409":
          description: "`cutoff` (inside 24h) or `not_reschedulable` (already cancelled/completed)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "500":
          $ref: "#/components/responses/ServerErrorLocalized"

  /api/v1/appointments/{id}/reschedule-options:
    get:
      operationId: listRescheduleOptions
      tags: [appointments]
      summary: Slots this appointment may be moved to
      description: >
        The slot starts the patient may move THIS appointment to. Takes the
        appointment id and nothing else: the service and location are resolved
        server-side from the stored row, so no service or location identifier is
        ever sent to or required from the client (data minimisation; see
        docs/rgpd-token-flow.md). Slots come from the same generator and conflict
        filter as /api/v1/booking/slots, and the duration is the appointment's
        own, since a reschedule preserves the original window. The list excludes
        slots inside the 24h minimum notice; the reschedule action re-enforces
        that independently, so this list is a courtesy and not the control.
      parameters:
        - $ref: "#/components/parameters/AppointmentId"
      responses:
        "200":
          description: Slot starts the appointment may move to, ascending.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [slots]
                properties:
                  slots:
                    type: array
                    items:
                      type: string
                      format: date-time
        "401":
          $ref: "#/components/responses/UnauthorizedLocalized"
        "404":
          description: "`not_found`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "409":
          description: "`cutoff` or `not_reschedulable` \u2014 nothing can be offered."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "500":
          $ref: "#/components/responses/ServerErrorLocalized"

  /api/v1/appointments/{id}/reschedule:
    post:
      operationId: rescheduleOwnAppointment
      tags: [appointments]
      summary: Reschedule an own appointment
      description: >
        Moves the appointment to a new start; duration is preserved and conflict
        detection re-runs for the assigned therapist. 24h cutoff is checked on
        the CURRENT start. Never touches invoicing.
      parameters:
        - $ref: "#/components/parameters/AppointmentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RescheduleInput"
      responses:
        "200":
          description: The rescheduled appointment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppointmentEnvelope"
        "400":
          $ref: "#/components/responses/InvalidInput"
        "401":
          $ref: "#/components/responses/UnauthorizedLocalized"
        "404":
          description: "`not_found`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "409":
          description: "`no_slot`, `cutoff`, or `not_reschedulable`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "422":
          description: >
            `slot_in_past` (the new start is not in the future) or `min_notice`
            (the new start is inside the 24h minimum notice).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorLocalized"
        "500":
          $ref: "#/components/responses/ServerErrorLocalized"

  /api/v1/ingestion/clinical-records:
    servers:
      - url: https://osteojp.pt
        description: Staff platform origin (apps/web).
    post:
      operationId: ingestClinicalRecord
      tags: [ingestion]
      summary: AI partner clinical-record ingestion
      description: >
        Server-to-server. Authenticated by an HMAC-SHA256 signature over the RAW
        body: the partner sends `X-OsteoJP-Timestamp` (unix seconds) and
        `X-OsteoJP-Signature` (hex HMAC of `${timestamp}.${rawBody}`). The
        timestamp is bound into the signed string and must be within ±300s
        (replay window). `tenant_id` is resolved from the patient row, never the
        payload. A successful request creates a DRAFT clinical record
        (`source=ai_ingested`, unlocked) for human review — it never produces a
        locked or signed record. Idempotent on `(tenant_id, idempotency_key)`.
      security:
        - ingestionTimestamp: []
          ingestionHmac: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestionEnvelope"
      responses:
        "200":
          description: Replay — the same `(tenant, idempotency_key)` with an identical payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestionResult"
        "201":
          description: A new draft clinical record was created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestionResult"
        "400":
          description: "`malformed_body` (not JSON) or `invalid_envelope` (bad transport shape)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Signature/timestamp verification failed (which check is never disclosed).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: "`idempotency_key_conflict` — same key reused with a DIFFERENT payload."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: "`unknown_patient` — `patient_id` does not resolve to a tenant."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "`server_error` — secret misconfiguration or an unexpected failure."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/integrations/stripe/webhook:
    servers:
      - url: https://osteojp.pt
        description: Staff platform origin (apps/web).
    post:
      operationId: stripeWebhook
      tags: [webhooks]
      summary: Stripe webhook receiver
      description: >
        Inbound provider callback (NOT for integrators). Authenticated by the
        Stripe signature over the raw body (`Stripe-Signature`). Handled event
        types (`payment_intent.succeeded`, `payment_intent.payment_failed`,
        `payment_intent.canceled`, `charge.refunded`) enqueue an Inngest event
        carrying IDS ONLY; the durable job re-fetches authoritative payment state.
        Unhandled types are acknowledged (200, `handled:false`) so Stripe stops
        retrying. The webhook secret is owner-gated and unset by default, so a
        live call surfaces as 500 until configured.
      security:
        - stripeSignature: []
      requestBody:
        required: true
        description: A Stripe Event object (verified against the signature).
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StripeEvent"
      responses:
        "200":
          description: Acknowledged. `handled:true` if enqueued, `handled:false` if ignored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeWebhookAck"
        "400":
          description: "`invalid_signature` — bad/missing/stale Stripe signature."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "`server_error` (unset secret / unexpected) or `enqueue_failed` (Inngest send failed → Stripe redelivers)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    patientBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        The patient's Supabase access token (JWT) carrying `role=patient`,
        `patient_id`, and `tenant_id` claims. The server derives identity from
        the verified token only; a staff token can never satisfy a patient route.
    ingestionHmac:
      type: apiKey
      in: header
      name: X-OsteoJP-Signature
      description: >
        Hex HMAC-SHA256 of `${timestamp}.${rawBody}` under the shared ingestion
        secret. MUST be sent together with `X-OsteoJP-Timestamp` (the
        `ingestionTimestamp` scheme) — the two form the HMAC pair.
    ingestionTimestamp:
      type: apiKey
      in: header
      name: X-OsteoJP-Timestamp
      description: Unix-seconds timestamp, bound into the signed string; must be within ±300s.
    stripeSignature:
      type: apiKey
      in: header
      name: Stripe-Signature
      description: Stripe's webhook signature over the raw body (provider-managed).

  parameters:
    AppointmentId:
      name: id
      in: path
      required: true
      description: Appointment id (UUID). Not the caller's own → 404.
      schema:
        type: string
        format: uuid
    DocumentId:
      name: id
      in: path
      required: true
      description: Document (attachment) id (UUID). Not the caller's own → 404.
      schema:
        type: string
        format: uuid

  responses:
    Unauthorized:
      description: 'No valid patient session (fail-closed). Body `{ "error": "unauthorized" }`.'
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnauthorizedLocalized:
      description: No valid patient session (fail-closed), with a localized message.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorLocalized"
    ServerErrorLocalized:
      description: 'Unexpected server error; no internals leaked. `{ "error": "server_error", "message": "…" }`.'
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorLocalized"
    InvalidInput:
      description: "`invalid_input` — malformed/missing body fields."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorLocalized"
    RateLimited:
      description: >
        `rate_limited` — too many requests. Carries `Retry-After`. On the OTP
        paths the limiter is durable (Postgres) and FAILS CLOSED: if the store
        is unreachable this refuses rather than allowing, because failing open
        would turn a database blip into an unlimited guessing window against a
        6-digit code.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until the window resets.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    GuestBookingInput:
      type: object
      additionalProperties: false
      required:
        [tenantId, fullName, phone, serviceId, locationId, preferredDate, preferredPeriod]
      description: >
        R-GUEST-2: the MINIMUM. A name, a number, the service, the clinic and
        WHEN THEY WOULD PREFER TO COME. NO NIF (PL-20), no health information,
        nothing clinical before the first visit.


        OPTION A, ratified 2026-08-14. This used to take `startsAt`/`endsAt` and
        an optional `practitionerId`, on the assumption the public form would
        offer real slots. It does not: the therapist roster and the slot list
        stay authenticated (exposure matrix MN-27, MN-28), so nothing public
        could have offered a caller a time or a therapist. An exact timestamp
        arriving here would therefore be UNSOURCED, and reception would read it
        as a time the person had been shown. Those three fields are now
        REFUSED — a body carrying them and nothing else is a 400.
      properties:
        tenantId:
          type: string
          format: uuid
        fullName:
          type: string
          maxLength: 120
          description: >
            Bounded so the reception queue cannot be filled with essays. The one
            free-text field on this surface.
        phone:
          type: string
          description: >
            Portuguese MOBILE number in any format; normalized to E.164 server
            side. A geographic (landline) number is refused: reception's only way
            to reach a guest is to ring them, so a landline typed by mistake is a
            request nobody can action.
          examples: ["+351912345678"]
        serviceId:
          type: string
          format: uuid
        locationId:
          type: string
          format: uuid
        preferredDate:
          type: string
          format: date
          description: >
            The calendar day the caller would prefer, YYYY-MM-DD, read in
            Europe/Lisbon. Must not be in the past and must be within 90 days.
            A date that does not exist (2026-02-30) is refused rather than
            rolled forward.
          examples: ["2026-09-07"]
        preferredPeriod:
          type: string
          enum: [manha, tarde]
          description: >
            Morning (09:00–13:00) or afternoon (13:00–19:00), Europe/Lisbon,
            from the clinic's published opening hours.


            THIS IS A PREFERENCE AND NOT AN AVAILABILITY CLAIM. No schedule is
            consulted on this path and nothing is reserved. The pair
            (preferredDate, preferredPeriod) is encoded into the existing
            `requested_starts_at` / `requested_ends_at` columns by
            `encodeGuestPreferredWindow` in @osteojp/db — the window's
            boundaries, not a slot anybody was offered. Reception resolves the
            real time when they telephone.

    OtpRequestInput:
      type: object
      additionalProperties: false
      required: [tenantId, phone]
      properties:
        tenantId:
          type: string
          format: uuid
        phone:
          type: string
          description: >
            Portuguese number in any stored format; normalized to E.164 server
            side before it is used, so one handset cannot be spent as two
            rate-limit budgets.
          examples: ["+351912345678"]

    OtpVerifyInput:
      type: object
      additionalProperties: false
      required: [tenantId, phone, code]
      properties:
        tenantId:
          type: string
          format: uuid
        phone:
          type: string
          examples: ["+351912345678"]
        code:
          type: string
          description: The 6-digit code, digits only, leading zeros significant.
          examples: ["012345"]

    OtpVerifyResult:
      type: object
      additionalProperties: false
      required: [patientId]
      description: >
        The resolved patient. Deliberately carries NO session material — see the
        endpoint description.
      properties:
        patientId:
          type: string
          format: uuid

    Error:
      type: object
      additionalProperties: false
      required: [error]
      description: Stable machine-readable error code (no localized message).
      properties:
        error:
          type: string
          examples: ["unauthorized"]

    ErrorLocalized:
      type: object
      additionalProperties: false
      required: [error, message]
      description: Stable error code plus a localized (PT-default) human message.
      properties:
        error:
          type: string
          examples: ["not_found"]
        message:
          type: string

    HealthStatus:
      type: object
      additionalProperties: false
      required: [status, service]
      properties:
        status:
          type: string
          const: ok
        service:
          type: string
          const: api

    SessionIdentity:
      type: object
      additionalProperties: false
      required: [patientId, tenantId]
      properties:
        patientId:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid

    AppointmentStatus:
      type: string
      enum: [scheduled, confirmed, completed, cancelled, no_show]

    Appointment:
      type: object
      additionalProperties: false
      required:
        [id, startsAt, endsAt, status, serviceName, locationName, practitionerName, room]
      description: A patient-facing appointment row. Display names are tenant reference data.
      properties:
        id:
          type: string
          format: uuid
        startsAt:
          type: string
          format: date-time
          description: ISO 8601 UTC.
        endsAt:
          type: string
          format: date-time
        status:
          $ref: "#/components/schemas/AppointmentStatus"
        serviceName:
          type: [string, "null"]
        locationName:
          type: [string, "null"]
        practitionerName:
          type: [string, "null"]
        room:
          type: [string, "null"]

    AppointmentEnvelope:
      type: object
      additionalProperties: false
      required: [appointment]
      properties:
        appointment:
          $ref: "#/components/schemas/Appointment"

    BookableLocation:
      type: object
      additionalProperties: false
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string

    BookableService:
      type: object
      additionalProperties: false
      required: [id, name, durationMin, priceCents, currency, locationIds]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        durationMin:
          type: integer
        priceCents:
          type: [integer, "null"]
          description: Effective (override-then-base) price in integer cents; null = unpublished.
        currency:
          type: string
          description: ISO 4217 currency code for priceCents.
        locationIds:
          type: array
          description: Location ids where bookable; empty for a null-location (all-location) service.
          items:
            type: string
            format: uuid

    BookableCatalog:
      type: object
      additionalProperties: false
      required: [locations, services]
      properties:
        locations:
          type: array
          items:
            $ref: "#/components/schemas/BookableLocation"
        services:
          type: array
          items:
            $ref: "#/components/schemas/BookableService"

    BookingInput:
      type: object
      additionalProperties: true
      required: [serviceId, locationId, startsAt]
      description: >
        Only `serviceId`, `locationId`, `startsAt` and the optional
        `practitionerId` are read; any other key (patient_id, price, status) is
        ignored server-side.


        A2 CHANGED WHAT `practitionerId` MEANS, and the change is a strengthening
        rather than a loosening. It used to be ignored outright because the
        therapist was always server-assigned. It is now READ, because the patient
        may choose one in the therapist step - but reading it is not trusting it.
        A malformed id is rejected as `invalid_input`, and a well-formed id that
        is not in the bookable candidate set is rejected as `no_therapist`. It is
        NEVER silently swapped for an auto-assignment: the patient asked for a
        named person, and giving them a different one without saying so is a
        booking they did not make.
      properties:
        serviceId:
          type: string
          format: uuid
        locationId:
          type: string
          format: uuid
        startsAt:
          type: string
          format: date-time
          description: Requested start (ISO 8601). Must be in the future.
        practitionerId:
          type: [string, "null"]
          format: uuid
          description: >
            A2. The therapist the patient chose. Omitted or null means "let us
            choose for you" and preserves the server-side auto-assignment
            (including the returning-patient soft preference) byte for byte.
            Validated against `is_bookable` server-side; refused, never
            downgraded.

    RescheduleInput:
      type: object
      additionalProperties: true
      required: [startsAt]
      description: Only the new `startsAt` is read; duration is preserved server-side.
      properties:
        startsAt:
          type: string
          format: date-time

    PatientProfile:
      type: object
      additionalProperties: false
      required: [id, fullName, email, phone, address, postalCode, city]
      properties:
        id:
          type: string
          format: uuid
        fullName:
          type: string
        email:
          type: [string, "null"]
        phone:
          type: [string, "null"]
        address:
          type: [string, "null"]
        postalCode:
          type: [string, "null"]
        city:
          type: [string, "null"]

    ProfileEnvelope:
      type: object
      additionalProperties: false
      required: [profile]
      properties:
        profile:
          $ref: "#/components/schemas/PatientProfile"

    ProfilePatch:
      type: object
      additionalProperties: true
      description: >
        Editable whitelist only. Each field may be a string or null. Non-listed
        keys are ignored; an empty patch → 400 `no_editable_fields`.
      properties:
        phone:
          type: [string, "null"]
        address:
          type: [string, "null"]
        postalCode:
          type: [string, "null"]
        city:
          type: [string, "null"]

    PatientDocument:
      type: object
      additionalProperties: false
      required: [id, fileName, mimeType, sizeBytes, createdAt]
      description: Display metadata only — internal storage path/linkage are never exposed.
      properties:
        id:
          type: string
          format: uuid
        fileName:
          type: string
        mimeType:
          type: [string, "null"]
        sizeBytes:
          type: [integer, "null"]
        createdAt:
          type: string
          format: date-time

    DownloadUrl:
      type: object
      additionalProperties: false
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: Short-lived (60s) Supabase signed URL. No PII, no fiscal data.

    PatientFicha:
      type: object
      additionalProperties: false
      required: [id, status, version, episodeId, createdAt, signedAt, data]
      description: >
        Redacted clinical record (metadata + allow-listed data keys). `data` is
        currently always `{}` pending clinical sign-off of visible fields.
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [locked, signed]
          description: Only finalized records are visible to the patient.
        version:
          type: integer
        episodeId:
          type: [string, "null"]
        createdAt:
          type: [string, "null"]
          format: date-time
        signedAt:
          type: [string, "null"]
          format: date-time
        data:
          type: object
          description: Allow-listed keys only (currently empty).
          additionalProperties: true

    ReviewState:
      type: string
      enum: [pending_review, in_review, approved, rejected]

    TherapySlug:
      type: string
      enum:
        [osteopathy, physiotherapy, rpg, nesa, massagem-terapeutica, pilates-terapeutico]

    FormSubmissionInput:
      type: object
      additionalProperties: true
      required: [formKey]
      description: >
        `patient_id`/`tenant_id` are NEVER read from the body. For `ficha_geral`,
        `therapy` must be omitted/null; for `supplement`, a valid `therapy` slug
        is required. `payload` defaults to `{}`.
      properties:
        formKey:
          type: string
          enum: [ficha_geral, supplement]
        therapy:
          oneOf:
            - $ref: "#/components/schemas/TherapySlug"
            - type: "null"
        payload:
          type: object
          additionalProperties: true

    PatientSubmission:
      type: object
      additionalProperties: false
      required: [id, formKey, therapy, source, reviewState, submittedAt]
      properties:
        id:
          type: string
          format: uuid
        formKey:
          type: string
          enum: [ficha_geral, supplement]
        therapy:
          oneOf:
            - $ref: "#/components/schemas/TherapySlug"
            - type: "null"
        source:
          type: string
          description: Always `patient` for portal submissions.
        reviewState:
          $ref: "#/components/schemas/ReviewState"
        submittedAt:
          type: string
          format: date-time

    CatalogEntry:
      oneOf:
        - type: object
          additionalProperties: false
          required: [formKey, therapy, title]
          properties:
            formKey:
              type: string
              const: ficha_geral
            therapy:
              type: "null"
            title:
              type: string
        - type: object
          additionalProperties: false
          required: [formKey, therapy, title]
          properties:
            formKey:
              type: string
              const: supplement
            therapy:
              $ref: "#/components/schemas/TherapySlug"
            title:
              type: string

    IngestionStatus:
      type: string
      enum: [received, accepted, rejected]
      description: A successful ingest reaches `accepted` (in the human review queue).

    IngestionEnvelope:
      type: object
      additionalProperties: true
      required: [idempotency_key, request_id, patient_id, payload]
      description: >
        Transport envelope (snake_case wire keys). Clinical content rides in the
        opaque `payload`; per-field validation is out of scope for this shell.
      properties:
        idempotency_key:
          type: string
          minLength: 1
        request_id:
          type: string
          minLength: 1
          description: Partner-supplied correlation id.
        patient_id:
          type: string
          format: uuid
        payload:
          type: object
          additionalProperties: true

    IngestionResult:
      type: object
      additionalProperties: false
      required: [request_id, status, clinical_record_id, idempotent]
      properties:
        request_id:
          type: string
        status:
          $ref: "#/components/schemas/IngestionStatus"
        clinical_record_id:
          type: [string, "null"]
          format: uuid
        idempotent:
          type: boolean
          description: true on replay (200), false on first create (201).

    StripeEvent:
      type: object
      additionalProperties: true
      description: >
        A Stripe Event object as delivered to the webhook. Only the verified
        `id`, `type`, and `data.object` (PaymentIntent id + our metadata) are
        consumed; the full schema is owned by Stripe.
      properties:
        id:
          type: string
        type:
          type: string
        data:
          type: object
          additionalProperties: true

    StripeWebhookAck:
      type: object
      additionalProperties: false
      required: [received, handled]
      properties:
        received:
          type: boolean
          const: true
        handled:
          type: boolean
          description: true if the event was enqueued for processing; false if acknowledged-and-ignored.
